@import '~bootstrap/scss/bootstrap';

$black: #000;
$cloud-blue: #f0f8ff;

body {
  background-color: $cloud-blue;
  margin: 50px;
  text-align: center;
}

.game-board-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.game-board {
  font-size: 30px;
}

.box {
  align-items: center;
  border: 2px solid $black;
  color: $black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.top-heading {
  border: 0;
}

.game-title {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.title {
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.game-container {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.alert-container {
  margin-left: 0 auto;
  margin-right: 0 auto;
  width: 70%;
}

.game-alert {
  align-items: center;
  border: 0;
  display: flex;
  font-size: 15px;
  height: 150px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.sign-out {
  border: 0;
}
