@import '~bootstrap/scss/bootstrap';

body {
  background-color: #F0F8FF;
}

.box {
  align-items: center;
  border: 2px solid black;
  color: black;
  display: flex;
  height: 100px;
  justify-content: center;
}

.game-alert {
  background-color: red;
  display: inline;
}

.hidden {
  display: none;
}
